.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 400px;
}

.form-item-password {
    direction: rtl;
}

.title1,
.title2 {
    direction: rtl;
    text-align: center;
    font-family: 'B Titr';
    font-size: 24px;
    font-weight: 700;
}

.title2 {
    font-size: 18px;
    color: gray;
    font-weight: 400;
}

.forgotPass {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.logoImg {
    width: 100px;
    height: 100px;
}

.divLogoImg {
    display: flex;
    justify-content: center;
}

.value {
    direction: rtl;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #c0dfee;
    background-color: #e6f7ff;
    color: rgb(7, 5, 165);
    font-size: 20px !important;
}

.value div {
    font-size: 12px;
}

.loginPageHint1,
.loginPageHint2,
.loginPageHint3 {
    direction: rtl;
}

.loginPageHint2 {
    font-size: 12px !important;
    margin-top: -13px;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.ant-form-item-row {
    margin-bottom: 0 !important;
}

.submit {
    margin-top: 30px;
    height: 45px;
    background-color: rgb(74, 18, 126);
}